<h4 class="technique-heading">
  <%= t ".techniques" %>
  <ul class="pull-right">
    <% techniques.each do |technology| %>
      <li class="label label-warning"><%= technology.name %></li>
    <% end %>
  </ul>
</h4>
