<div id="oc-portfolio"
  class="owl-carousel portfolio-carousel carousel-widget owl-loaded owl-drag" data-items="4" data-items-xs="2">
  <%= render "member", course_members: course_members %>
  <div class="owl-nav">
    <div class="owl-prev">
      <i class="icon-angle-left"></i>
    </div>
    <div class="owl-next">
      <i class="icon-angle-right"></i>
    </div>
  </div>
  <div class="owl-dots disabled"></div>
</div>
