<section id="page-title">
  <div class="container clearfix">
    <h1><%= @course.name %></h1>
  </div>
</section>

<section id="content">
  <div class="content-wrap content-wrap-custom">
    <div class="container clearfix">
      <%= render "detail_course", course: @course, show_course: @show_course %>
      <div class="clear"></div>
      <%= render "other_course", relations: @show_course.relations %>
    </div>
  </div>
</section>
