<div class="clearfix section introduction-faa-heading">
  <div class="heading-block center nomargin">
    <h3><%= t ".heading" %></h3>
  </div>
</div>
<div class="container introduction-faa">
  <div class="row clearfix common-height">
    <div class="center">
      <%= image_tag "introduction/#{I18n.locale}.png" %>
    </div>
  </div>
</div>
