<div class="container clearfix">
  <div class="col_one_third bottommargin-sm center">
    <img data-animate="fadeInLeft" class="fadeInLeft animated"
      src="<%= Settings.education.home_page.need_content_img %>">
  </div>
  <div class="col_two_third bottommargin-sm col_last">
    <div class="heading-block topmargin-sm">
      <h3><%= t ".header" %></h3>
    </div>
    <p><%= t ".description1" %></p>
    <a href="#" class="button button-border button-dark button-rounded button-large noleftmargin topmargin-sm"><%= t ".learn_more" %></a>
  </div>
</div>
