<div class="section topmargin nobottommargin nobottomborder">
  <div class="container clearfix">
    <div class="heading-block center nomargin">
      <h3><%= t "education.home.our_projects.heading" %></h3>
    </div>
  </div>
</div>
<div id="portfolio">
  <%= render projects %>
</div>
<div class="clear"></div>
<a href="education/projects" class="button button-full button-dark center tright bottommargin-lg">
  <div class="container clearfix">
    <strong><%= t ".see_more" %></strong>
    <i class="icon-caret-right btn-see-more"></i>
  </div>
</a>
