<section id="page-title">
  <div class="container clearfix">
    <h1><%= t ".heading" %></h1>
    <span><%= t ".heading_description" %></span>
  </div>
</section>
<section>
  <div class="content-wrap">
    <div class="container clearfix">
      <%= render "education/management/courses/form",
        course: @course, button_text: t(".edit"),
        url: education_management_course_path %>
    </div>
  </div>
</section>
