<div id="filter-name-course">
  <%= select_tag :course_name, options_for_select(select_course),
    class: "form-control name-course selectpicker", multiple: true, "data-actions-box": true, "data-live-search": true %>
</div>
