<div class="search-form-course">
  <%= search_form_for @query_course_register, url: education_management_course_registers_path do |f| %>
    <div class="search-box">
      <%= f.search_field :name_or_email_cont,
        placeholder: t(".placeholder"), class: "form-control" %>
    </div>
  <% end %>
</div>
