<div class="tab-content clearfix" id="tab-courses">
  <%= render "course", courses: courses %>
  <div class="center custom-paginate">
    <%= paginate courses, params: {tab: "tab-courses"} %>
  </div>
</div>
