<div class="row ruby-introduce">
  <div class="col_one_third bottommargin-sm center ruby-img">
    <img data-animate="fadeInLeft" class="fadeInLeft animated height-img-ruby"
      src="<%= Settings.education.about_page.ruby_img %>">
  </div>
  <div class="col_two_third bottommargin-sm col_last">
    <div class="heading-block topmargin-sm">
      <h3><%= t ".header" %></h3>
    </div>
    <p class="ruby-description"><%= t ".description" %></p>
  </div>
</div>
