<section id="slider" class="height-slider">
  <div id="oc-slider" class="owl-carousel carousel-widget owl-loaded owl-drag"
    data-margin="0" data-items="1" data-pagi="false" data-loop="true"
    data-animate-in="zoomIn" data-speed="450" data-animate-out="fadeOut"
    data-autoplay="5000">
    <a href="#"><img src="<%= Settings.education.home_page.slide1_img %>"></a>
    <a href="#"><img src="<%= Settings.education.home_page.slide3_img %>"></a>
  </div>
</section>
