<section id="slider">
  <div id="oc-slider" class="owl-carousel carousel-widget owl-loaded owl-drag"
    data-margin="0" data-items="1" data-pagi="false" data-loop="true"
    data-animate-in="zoomIn" data-speed="450" data-animate-out="fadeOut"
    data-autoplay="5000">
    <div class="height-slider">
      <img src="<%= Settings.education.about_page.framgia_img1 %>">
    </div>
    <div class="height-slider">
      <img src="<%= Settings.education.about_page.framgia_img2 %>">
    </div>
  </div>
</section>
