<% provide :title, t("education.project.title") %>
<section id="page-title">
  <div class="container clearfix">
    <h1><%= t "education.projects.home.title" %></h1>
    <span><%= t "education.projects.home.description" %></span>
  </div>
</section>
<%= render "education/trainers/index_project" %>
