<section id="page-title">
  <div class="container clearfix">
    <h1><%= t ".heading" %></h1>
    <span><%= t ".heading_description" %></span>
  </div>
</section>
<section>
  <div class="content-wrap">
    <div class="container clearfix">
      <%= render "form", training: @training, button_text: t(".create_training"),
        url: education_management_trainings_path %>
    </div>
  </div>
</section>
