<% provide :title, t(".title") %>

<section id="page-title">
  <div class="container clearfix">
    <h1><%= t ".page_title" %></h1>
  </div>
</section>
<section id="content" class="education-trainings-content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="content-wrap content-wrap-custom" id="training_search_result">
        <%= render "trainings", trainings: @training_object.trainings_for_guest %>
      </div>
    </div>
  </div>
</section>
