<div class="tab-content clearfix" id="tabs-1">
  <div id="popular-post-list-sidebar">
    <%= render partial: "popular_post_item",
      locals: {popular_posts: @post_object.popular_posts} %>
  </div>
</div>
