<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t ".posted_by" %>
      <span>
        <%= link_to @post.user_name, education_user_path(@post.user) %>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="author-image">
      <%= load_user_avatar @post.user, class: "img-circle" %>
    </div>
  </div>
</div>
