<% recent_posts.each do |post| %>
  <div class="spost clearfix">
    <div class="entry-image">
      <%= link_to load_cover_photo(post), "#", class: "nobg" %>
    </div>
    <div class="entry-c">
      <div class="entry-title">
        <h4><%= link_to post.title, education_post_path(post) %></h4>
      </div>
      <ul class="entry-meta">
        <li><%= post.created_at.to_formatted_s :long_ordinal %></li>
      </ul>
    </div>
  </div>
<% end %>
