<div class="si-share share-custom clearfix noborder">
  <div>
    <span><%= t ".share_this_recruitment" %>:</span>
  </div>
  <div>
    <%= social_share_button_tag @recruitment.title %>
  </div>
</div>
