@import 'variables/color';

.about-edu-custom {
  position: relative;

  img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.height-slider {
  height: 550px;
}

.height-img-ruby {
  height: 280px;
  margin-top: 30px;
}

.ruby-introduce {
  background-color: $gray-white;
  min-height: 340px;
}

.ruby-img {
  margin-right: 0;
}

.content-justify {
  text-align: justify;
  text-justify: inter-word;
}

.color-button {
  background-color: $gray-white;
}

.text-btn-color {
  color: $black;

  a {
    color: $black;
  }
}
