@import 'variables/color';

.row-course {
  padding-left: 40px;
  padding-right: 20px;
}

.fslider {
  .slide a {
    width: 90%;
  }
}

.portfolio-item-course {
  .carousel {
    a {
      width: 90%;
    }
  }

  img {
    height: 250px !important;
  }
}

.fslider.flex-thumb-grid {
  .flex-control-nav.flex-control-thumbs li {
    height: 50px !important;
  }
}

.nobottommargin {
  display: block;
  margin-right: 10px;
  margin-top: 3px;
}

.courses-search {
  padding-left: 0;
}

.portfolio-image.course {
  height: 180px;
}

.slide.course {
  img {
    height: 450px;
  }
}

.icon-date {
  color: $orange;
}

.course-detail {
  height: 400px;
}

.description-course {
  margin-left: 5px;

  .panel-body {
    font-size: 15px;
  }
}

.latest-course-image {
  height: 180px !important;
  width: 90%;
}

.training-search.text-field {
  height: 70px;
  margin-top: 5px;
}

.clearfix.course {
  margin-left: 30px;
  margin-top: 10px;
}

.content-course {
  width: 100%;
}

.ul-courses {
  max-height: 300px !important;
  overflow: auto !important;
}

.left-field {
  padding-left: 0;
}

.right-field {
  padding-right: 0;
}

.ui-datepicker.ui-widget-content {
  border: 1px solid !important;
}

.course-member-avatar img {
  height: 158.7px !important;
  width: 158px !important;
}

.course-detail-wrapper {
  display: flex;
  flex-direction: row;
  height: 400px;

  .course-slide-wrapper {
    margin-right: 20px;
    width: 50%;

    img {
      height: 350px;
    }
  }

  .course-detail-inner {
    width: 50%;
  }

  .course-cost, .share-course-button {
    float: right;
  }
}

.technique-heading {
  font-weight: bolder;
  text-transform: uppercase;
}

.price-size {
  display: initial;
  font-size: 24px;
}

.line-custom {
  margin-top: 15px;
  margin-bottom: 15px;
}

.orange-text-color {
  color: $orange;
  display: initial;
}

.fancy-title-custom {
  margin-bottom: 15px;
}

.nowrap {
  white-space: nowrap;
}
