@import 'variables/color';

.education-post-content {
  padding-left: 15px;
  padding-right: 15px;
}

.editor-preview-side {
  z-index: 999;
}

.sidebar-widgets-wrap {
  border: 0;

  .widget {
    color: $dark-gray;
    margin-top: 50px;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

.dz-default {
  border: 2px solid $gray-blue;
  cursor: pointer;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.w-100 {
  width: 100%;
}

.code-mirror-wrap,
.code-mirror-fullscreen,
.code-mirror-sided {
  img {
    display: block;
    margin: 0 auto;
    max-height: 400px;
    max-width: 400px;
  }
}

.btn-publish {
  float: right;
  margin-right: 15px;
}

.file-input {
  margin-left: 15px;
  margin-right: 15px;

  .btn-file {
    background-color: $orange;
    border: $orange;

    ::selection {
      color: $orange;
    }
  }
}

.ui-widget-header {
  background: $white !important;

  li {
    border-radius: 0;
  }
}

.ui-widget-content {
  border: 0 !important;
}

.post-thumb-image {
  img {
    &:hover {
      opacity: .8;
    }
  }
}

.more-link {
  border-bottom: 1px solid $orange;
  color: $orange !important;
  display: inline-block;
  font-family: 'Crete Round',serif;
  font-style: italic;
  padding: 0 2px;

  &:hover {
    color: $black !important;
  }

  &-delete-custom {
    color: $red !important;
  }
}

blockquote {
  border-left: 3px solid $black-1opacity;
  font-size: 105%;
  margin: 0;
  padding: 0 1px;
}

.markdown table {
  border-collapse: collapse;
  line-height: 20px;

  thead {
    background-color: $black-05opacity;
  }

  tbody {
    color: $black-6opacity;
  }

  th,
  td {
    border: 1px solid $gray87;
    padding: 5px 7px;
  }
}

code {
  background-color: $gray97;
  font-family: Consolas, monospace;
  font-size: 10px;
  padding: 3px;
  width: 400px;
}

.mt-1 {
  max-height: calc(80vh - 250px);
  overflow-y: auto;
}

.image-insert-modal {
  display: none;
  z-index: 10000;
}

.tagit {
  border: 1px solid $gray-80 !important;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  overflow: inherit;
}

.publish-now {
  margin-top: 25px;
}

.tab-nav-post {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  &:first-child li {
    margin-right: 0 !important;
  }
}

.search-result-post-item {
  &:hover {
    border: 1px solid $white;
  }
}

.suggestion-item {
  border-bottom: 1px dashed $quartz;
  padding: 15px;

  &:hover {
    background-color: $snow;
  }

  .suggestion-has-image {
    img {
      float: left;
      margin-right: 10px;
    }

    .name {
      display: block;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.project-search input {
  background: $white;
  border: 1px solid $gray-ddd;
  border-radius: 2em;
  display: initial;
  font-size: 1em;
  padding: .5em 1.3em;
  width: 100%;
}

.project-search input:focus {
  border-color: $blue-light;
}

.posts-search .results .ui-widget-content {
  background: $white;
  border-color: #gray-ddd;
  box-shadow: 0 .1em .2em $gray;
  font-size: .9em;
  line-height: 1.2;
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
  padding: .5em 0;
}

.posts-search .results .ui-menu-item {
  border: 0;
  border-left: 5px solid transparent;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  height: 6.5em;
  padding: .4em .6em .4em 6.2em;
  position: relative;
}

.posts-search .results .ui-state-focus {
  background: $white;
  border-left-color: $blue;
  font-weight: 300;
}

.posts-search .ui-menu-item .img {
  height: 6em;
  left: .6em;
  overflow: hidden;
  position: absolute;
  top: .4em;
  width: 5em;
}

.ui-menu-item .img img {
  max-width: 100%;
}

.posts-search .ui-menu-item .name {
  color: $gray-black;
  display: block;
}

.posts-search .ui-menu-item .description {
  color: $gray-aaa;
  display: block;
  font-size: .8em;
  letter-spacing: 1px;
  margin-top: .6em;
  text-transform: uppercase;
}

.posts-search .ui-state-focus .name,
.posts-search .ui-state-focus .description,
.posts-search .ui-state-focus .plat-form {
  color: $blue;
  }

.nav-filter-posts {
  float: right;
  position: relative;
}

.ui-icon-close {
  display: none !important;
}

.post-article.markdown {
  ul {
    -webkit-padding-start: 40px;
  }

  code {
    font-size: 14px;
  }
}
