.score-rate {
  font-size: 30px;
  margin-top: -10px;
}

.label-score-rate {
  margin-right: 31px;
}

.label-share {
  margin-right: 40px;
}

.star-rate img {
  margin-top: -10px;
}

.votes {
  margin-top: -5px;
}
