# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d8a5cf0037ce351e8d574749a79a5cb067a018afd7fa62324320b1de2126b96bd298181a1f4d24f1243a0fc72795fc2107a2a8cdf746d72afa896f39b3580284

test:
  secret_key_base: d634b0fd2b8f7522f1f72bdb55568955cd0d742c6c8df0091a15890ab443789823796837e1ab033c5b19575a5aab1aebb0d59aa4c7998d3de287817260cc849e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
