<section id="page-title">
  <div class="container clearfix">
    <h1><%= t ".course_registration" %></h1>
  </div>
</section>
<div class="container p-t-60" id="new_course_register_page">
  <%= render partial: "register_form", locals: {course_register: @course_register} %>
</div>
