<% provide :title, t(".login") %>

<div class="container-fluid clearfix bg-login education-login-form">
  <%= render "form_login" %>
</div>

<div class="center">
  <h4 class="margin-section" ><%= t ".or_login_with" %></h4>
  <%= link_to t(".hr_system"),
    user_hr_system_omniauth_authorize_path,
    class: "button button-small button-rounded si-soundcloud si-colored" %>
</div>
