<div class="modal fade" id="myModal" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-body">
      <div class="panel panel-default divcenter pnl-login">
        <div class="panel-body login-custom">
          <div id="div-forms">
            <%= render "devise/sessions/form_login" %>
          </div>
        </div>
        <div class="panel-footer nopadding white-background">
          <div class="center">
            <h4 class="margin-section" ><%= t ".or_login_with" %></h4>
            <%= link_to t(".hr_system"),
              user_hr_system_omniauth_authorize_path,
              class: "button button-mini button-rounded si-soundcloud si-colored" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
