<div class="content-wrap nobottompadding custom-wrap">
  <div id="list-portfolio" class="container clearfix">
    <div id="portfolio" class="portfolio grid-container clearfix">
      <%= render "education/trainers/new_project" %>
      <%= render partial: "education/trainers/project",
        collection: @projects %>
    </div>
  </div>
</div>
<div class="center">
  <%= paginate @projects %>
</div>
<div class="project-search">
  <div class="results" id="projects-search-results"></div>
</div>
