<section id="page-title">
  <div class="container clearfix">
    <h1><%= t".trainer_title" %></h1>
    <span><%= t".trainer_description" %></span>
  </div>
</section>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <%= render partial: "trainer", collection: @trainers %>
    </div>
  </div>
</section>
