.preview-about-title {
  margin-bottom: 20px;
  text-align: center;
}

.preview-about {
  border-style: groove;
}

.edit-about-btn {
  float: right;
  margin-top: 20px;
}

.content-about-us {
  height: 200px !important;
}
