<footer id="footer" class="dark">
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half">
        © <%= t "copy" %><br>
        <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
      </div>
      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="#" class="social-icon si-small si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>
          <a href="#" class="social-icon si-small si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>
          <a href="#" class="social-icon si-small si-borderless si-gplus">
            <i class="icon-gplus"></i>
            <i class="icon-gplus"></i>
          </a>
          <a href="#" class="social-icon si-small si-borderless si-pinterest">
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
          </a>
          <a href="#" class="social-icon si-small si-borderless si-vimeo">
            <i class="icon-vimeo"></i>
            <i class="icon-vimeo"></i>
          </a>
          <a href="#" class="social-icon si-small si-borderless si-github">
            <i class="icon-github"></i>
            <i class="icon-github"></i>
          </a>
          <a href="#" class="social-icon si-small si-borderless si-yahoo">
            <i class="icon-yahoo"></i>
            <i class="icon-yahoo"></i>
          </a>
          <a href="#" class="social-icon si-small si-borderless si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>
        </div>
        <div class="clear"></div>
        <i class="icon-envelope2"></i> staff@framgia.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369
      </div>
    </div>
  </div>
</footer>
